@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url(../../fonts/Open_Sans/OpenSans-Regular.ttf)
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url(../../fonts/Open_Sans/OpenSans-Semibold.ttf)
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: url(../../fonts/Open_Sans/OpenSans-Italic.ttf)
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url(../../fonts/Open_Sans/OpenSans-SemiboldItalic.ttf)
}
@font-face {
    font-family: 'Source Code Pro';
    src: url(../../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf)
}

.title-slide hgroup {
    width: 350px;
}
.title-slide h1 {
    text-align: right;
    font-size: 65px;
    line-height: 1.4;
    letter-spacing: -3px;
    color: #515151;
}

.large-figure figure, .title-slide figure {
    width: 40%;
}
.large-image p img, .large-image p embed {
    width: 90%;
}
figure {
    position: relative;
    float: right;
    width: 25%;
    z-index: 100;
    padding: 10px;
}
figure img, figure embed {
    width: 100%;
    max-height: 450px;
    margin-bottom: 10px;
}
p img, p embed {
    width: 60%;
    max-height: 450px;
}

slide b, slide strong, slide strong code {
    color: red;
    font-weight: bold;
}
slide i, slide em, slide em code {
    color: green;
    font-style: italic;
}

figcaption, pre ~ p, blockquote ~ p {
    font-size: 80%;
    color: green;
    font-style: italic;
}

slides > slide:not(.nobackground):before {
    content: "http://www.ce.unipr.it/~angiani/";
    background: url(../../images/logo-tiny.png) no-repeat 0 50%;
    background-size: 30px 30px;
}

blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    background: AntiqueWhite;
}
blockquote p:before {
    content: "\201C";
    color: green;
}
blockquote p:after {
    content: "\201D";
    color: green;
}

small, sub, sup { font-size: .8em }
sub { vertical-align: sub }
sup { vertical-align: super }

slide table { clear: none; max-width: 60%; margin: 20px; font-size: 80%; }
slide td, slide th { padding: 10px; }
slide.large-table table { max-width: 90%; }
slide.large-table table td, slide.small table th { padding: 2px; }

slide.title-slide h1 { margin-left: 40%; }

@media print {
    body,
    slides > slide,
    slides > slide.dark,
    slides > slide.thank-you-slide {
        background: white !important;
    }
    slides > slide.dark h2,
    slides > slide.thank-you-slide h2,
    slides > slide.thank-you-slide p {
        color: black;
    }
}
